<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>《志愿者承诺书》</title>
    <style>
        .fully {
            width: 1000px;
            margin: 0 auto;
        }

        .content {
            width: 800px;
            margin-left: 100px;
        }

        .center {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="fully">
        <h2 class="center">中国总会计师协会代理记账行业分会 “协税者”志愿服务团志愿者承诺书</h2>
        <div class="center"> 本人自愿申请加入中国总会计师协会代理记账行业分会“协税者”志愿服务团，在此郑重承诺： </div>
        <div class="content">
            <p>一、本次提供的申请及相关证明材料全部真实、合法、有效；</p>
            <p> 二、在志愿活动中自觉遵守国家的各项法律规章制度及《中国总会计师协会代理记账行业分会“协税者”志愿服务团规程》相关政策规定，积极参与助力税改政策落地工作；</p>
            <p> 三、积极完成各项活动与工作，工作督导及有关会议活动，每年参加志愿服务时间累计不少于20小时；</p>
            <p> 四、自愿接受并积极参与服务团安排的培训及考评，为服务对象提供最优质的服务，自觉维护服务团和协税者的形象；</p>
            <p> 五、在志愿服务中尊重志愿服务对象的权利，保守志愿服务对象的个人隐私及商业机密；</p>
            <p> 六、自觉抵制任何以志愿者身份从事的赢利活动或其他违背国家法律、社会公德、损害志愿者形象的活动；</p>
            <p> 七、本人严格遵守以上承诺，如有违反，愿意承担相应责任，接受将失信违法行为纳入不良信用记录并向社会公开。 </p>
        </div>

    </div>

</body>

</html>