<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>《志愿者承诺书》</title>
    <style>
        .fully {
            width: 1000px;
            margin: 0 auto;
            line-height: 1.5em;
        }

        .content {
            width: 800px;
            margin-left: 100px;
        }

        .center {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="fully">
        <h2 class="center">中国总会计师协会代理记账行业分会 “协税者”志愿服务团规程 （试行） </h2>
        <h2 class="center">第一章 总 则</h2>
        <div class="content">
            <p> 第一条 根据《中华人民共和国志愿服务条例》（国务院令第685号）有关规定及国家税务总局有关发挥涉税服务作用的文件精神，结合代理记账行业特点，为有序开展“协税者”志愿服务团社会公益活动，特制定本规程。</p>
            <p>第二条 “协税者”志愿服务团由中国总会计师协会领导，受国家税务局业务指导，中国总会计师协会代理记账行业分会（以下简称“中总协代账分会”）负责组织。</p>
            <p> 第三条 “协税者”志愿服务团由代理记账行业中的单位志愿者和个人志愿者组成。</p>
            <p>第四条 “协税者”志愿服务团的宗旨是：凝聚代理记账行业力量，发挥行业人才知识优势，开展公益性活动，积极履行社会责任，齐心协力为社会主义经济建设和税收事业发展做贡献。</p>
            <p>第五条 “协税者”志愿服务团开展涉税志愿服务活动的目标：
                （一）引导全国广大代理记账机构及其从业人员积极参与国家税收宣传，为实现民族复兴、国家强盛、人民幸福发挥好税收的重要作用。
                （二）充分展现代理记账行业关爱纳税人、关爱社会的爱心，不断增强新时期代理记账行业的凝聚力和影响力，促进社会和谐发展。
                （三）助力党中央国务院制定的有关利国惠民的重大财税改革举措的贯彻落实。中总协代账分会根据国家税务总局的总体安排，开展各类社会性公益涉税服务活动。</p>
        </div>
        <h2 class="center">第二章 志愿服务内容</h2>
        <div class="content">
            <p>第七条 “协税者”志愿服务团按照中总协代账分会统一要求，充分利用自身的专业优势和地域优势，根据税务机关所需、纳税人期盼和志愿者所能，结合涉税服务工作特点，开展涉税志愿服务活动。</p>
            <p>（一）政策宣传类
                配合税务机关举办税法宣讲会，采取“进园区、进校园、进社区”等形式多样的公益活动，义务向纳税人、缴费人准确解读税收政策及相关规定。通过微博、微信、微课堂等方式，积极回应社会关切热点问题，发挥正向引导作用，共同营造良好的舆论氛围。</p>
            <p>（二）答疑解惑类 应税务机关邀请，以志愿者身份参加12366专家咨询坐席、办税服务厅咨询辅导、自助办税和办税体验区咨询辅导、以及纳税人学堂专家辅导讲座等活动。</p>
            <p>（三）辅助服务类 按照税务机关要求，积极参与税务机关12366宣传手册和系统操作常见问题手册的编写。</p>
            <p>（四）建议献策类 积极参与税务机关组织的沟通座谈会、意见交流会等活动，从纳税人、缴费人需求以及专业服务的角度，向税务机关提出合理化建议。</p>
            <p>（五）公益服务类 为残疾人员、外籍人士等需要帮助的特殊群体义务提供公益涉税代理服务。</p>
        </div>
        <h2 class="center">第三章 组织机构</h2>
        <div class="content">
            <p>第八条 “协税者”志愿服务团是遵循自愿参与原则，由中总协代账分会为组织单位，组织各地方代理记账行业组织及代账机构形成的覆盖全国的以代理记账机构从业人员为主体的志愿服务团队。具体组织结构如下：</p>
            <p>（一）“协税者”志愿服务团总部设在中总协代账分会秘书处，设专岗专人负责。</p>
            <p>（二）“协税者”志愿服务团在各省、市、自治区设立分部，由总部指定各地代理记账行业协会组织或当地较有影响力的代理记账机构牵头组建分部，接受总部的领导。</p>
            <p>（三）各地方分部命名规则如下：“志愿服务团名称+行政区划名称+分部”，如“协税者”志愿服务团北京市分部、“协税者”志愿服务团山东省分部、“协税者”志愿服务团济南市分部，以此类推。</p>
            <p>第九条 各分部在总部的领导下开展工作，实行总部统筹协调，各分部相对独立的管理运作模式。各分部在开展志愿服务活动前，需将活动方案提交总部审批备案。</p>
            <p>第十条 志愿者可在中总协代理记账分会官网、中国代账网申请注册登记，选择已建立的省、市分部申请加入服务团。</p>
        </div>
        <h2 class="center">第四章 志愿者</h2>
        <div class="content">
            <p>第十一条 本服务团由下列志愿单位和志愿者组成：</p>
            <p>（一）各地方代理记账行业协会组织；</p>
            <p>（二）代理记账机构及其分支机构；</p>
            <p>（三）代理记账行业从业人员；</p>
            <p>（四）财经类院校老师和在校学生；</p>
            <p>（五）其他热衷于国家税收公益事业的单位和个人。</p>
            <p> 第十二条 本服务团志愿者应具备的条件：</p>
            <p>“协税者”志愿服务团志愿者分为单位志愿者和个人志愿者两类。</p>
            <p>（一）单位志愿者应当具备下列条件：</p>
            <p>1、从事代理记账业务或者相关业务的单位；</p>
            <p>2、热心公益事业，具有志愿服务的愿望；</p>
            <p>3、具备开展志愿者服务活动的能力和条件；</p>
            <p>4、接受志愿服务团的组织、管理和安排。</p>
            <p>（二）个人志愿者应当具备下列条件：</p>
            <p>1、自愿开展公益性涉税服务；</p>
            <p>2、具有相应的从业资格和民事行为能力；</p>
            <p>3、具有在涉税领域提供专业服务的素质和能力。</p>
            <p>第十三条 志愿者的权利：</p>
            <p> （一）参加志愿服务团组织的公益活动；</p>
            <p> （二）接受与志愿服务有关的知识和服务技能培训；</p>
            <p>（三）参与志愿服务团的管理，对其工作提出建议、批评和进行监督；并积极参与服务计划的实施；</p>
            <p>（四）在志愿服务活动中遇到的困难和问题可以请求并优先获得志愿服务组织的帮助和服务；</p>
            <p> （五）获得从事志愿服务工作所需的物质和安全保障；</p>
            <p>（六）自由退出志愿服务组织；</p>
            <p> （七）相关法律、法规及本服务团制定的有关规定赋予的其他权利。</p>
            <p>
                第十四条 志愿者的义务：
                <p> （一）遵守志愿服务团的管理规定；</p>
                <p> （二）履行志愿服务承诺，完成志愿服务团安排的服务工作；</p>
                <p> （三）参加志愿服务团安排的教育、培训及考评；</p>
                <p> （四）尊重志愿服务对象的权利，保守志愿服务对象的个人隐私和商业秘密;</p>
                <p>（五）妥善使用和保管志愿者证和志愿者标志；</p>
                <p> （六）相关法律、法规及本服务团制定的有关规定赋予的其他义务。</p>
            </p>
            <p>
                第十五条 志愿者招募程序：
                <p>（一）申请
                    志愿单位或个人在中总协代账行业分会官网、中国代账网提交《注册登记表》。 </p>
                <p> （二）参加培训与考评
                    新申请加入的个人或单位志愿者，需参加总部组织的志愿服务理念培训或者观看总部提供的线上培训视频并线上答题，等待总部考评意见。 </p>
                <p> （三）承诺与注册
                    经考评合格的申请者，签署《自愿服务承诺书》，经总部审核后，注册成为本服务团志愿者。可在中总协代账分会“协税者”栏目上查询。同时选择已建立的省、市分部加入服务团。 </p>
                <p> （四）发证
                    “协税者”志愿服务团总部颁发“协税者”志愿服务团志愿者证书。“协税者”志愿服务团分部在活动中为志愿者佩戴由“协税者”志愿服务团总部设计的统一标识。 </p>
            </p>
            <p>
                第十六条 志愿者的退出：
                <p> （一）自愿退出和因故不能参加志愿服务团工作的，由志愿单位或志愿者填写《退出志愿服务团备案表》，报原注册登记机构核准。</p>
                <p> （二）不能按时完成任务的，由原注册登记机构予以劝退；志愿服务团分部劝退的，需报总部备案。</p>
                <p> （三）凡向志愿服务对象收取报酬或以税务机关名义利用参加志愿者活动之机招揽生意的、违反本规程的，由原注册登记机构予以除名。</p>
                <p> （四）志愿单位或志愿者退出情况由各注册登记机构报总部备案。</p>
                <p> （五）凡退出“协税者”志愿服务团的志愿者，由原注册登记机构收回志愿者证书，并报送总部。</p>
                <p> （六）凡符合以上情形之一的，将在中总协代账行业分会官网协税者栏目注销。</p>
            </p>
        </div>
        <h2 class="center">第五章 运 行</h2>
        <div class="content">
            <p>
                第十七条
                “协税者”志愿服务团实行团长负责制。“协税者”志愿服务团总部的团长、副团长、秘书长、由中总协代账分会办公会提名，经中总协代账分会常务理事会议审议、志愿服务团志愿单位选举产生。“协税者”志愿服务团分部的团长、副团长、秘书长、由中总协代账分会指定的分部组建单位提名，经志愿服务团本地分部志愿单位选举产生，报总部备案。
            </p>
            <p> 第十八条 “协税者”志愿服务团建立团长办公会议制度，决定服务团重大事项。团长办公会议由团长、副团长、秘书长、副秘书长组成。 </p>
            <p> 第十九条 “协税者”志愿服务团聘请相关单位相关负责同志担任顾问，指导志愿服务团工作。 </p>
            <p>
                第二十条 团长、副团长、秘书长应具备下列条件：
                <p> （一）坚持党的路线、方针、政策，政治素质好；</p>
                <p>（二）在本行业内有较大影响；</p>
                <p>（三）热心公益事业，志愿为服务团担负责任；</p>
                <p> （四）身体健康，能够坚持正常工作；</p>
                <p> （五）具有完全民事行为能力。</p>
            </p>
            <p>
                第二十一条 团长行使下列职权：
                <p> （一）召集和主持团长办公会议；</p>
                <p> （二）检查团长办公会决议的落实情况；</p>
                <p> （三）签署重要文件；</p>
                <p>（四）处理重要事项。</p>
            </p>
            <p> 第二十二条 副团长协助团长工作，受团长委托办理有关事项。</p>
            <p> 第二十三条 “协税者”志愿服务团设秘书处，秘书处为志愿服务团办事机构，其主要职责是在团长领导下，落实团长办公会的各项决议、决定，负责志愿服务团的日常工作安排。</p>
            <p> 第二十四条 秘书处在秘书长领导下开展工作，秘书长向团长负责，受志愿服务团全体成员的监督。</p>
            <p> 第二十五条 志愿服务团总部秘书处工作人员由中总协代账分会工作人员中的志愿者组成。</p>
            <p>
                第二十六条 秘书长职责：
                <p> （一）主持秘书处的日常工作，组织制定、实施志愿服务团年度工作计划，组织起草年度工作总结；</p>
                <p> （二）参加团长办公会议，审核会议纪要并呈送团长审定、签发；</p>
                <p>（三）组织协调日常会议和活动；</p>
                <p>（四）负责本团财务收支的管理工作；</p>
                <p>（五）团长分配的其他工作任务。</p>
            </p>
            <p> 第二十七条 副秘书长协助秘书长工作，受秘书长委托办理有关事项。</p>
        </div>
        <h2 class="center">第六章 经 费</h2>
        <div class="content">
            <p> 第二十八条 经费来源：</p>
            <p>（一）志愿服务团单位志愿者或个人志愿者的捐款；</p>
            <p>（二）中总协代账分会及各地方代理行业协会或代理记账机构提供工作场所及工作经费；</p>
            <p>（三）社会资助、国内外团体或者个人的捐赠；</p>
            <p> （四）其它合法收入。</p>
            <p> 第二十九条 经费支出：</p>
            <p> （一）志愿服务团开展各种公益活动所需的开支；</p>
            <p> （二）其它合理支出。</p>
            <p> 第三十条 经费收支依照会计制度规定进行核算，会计资料要合法、真实、准确、完整。</p>
        </div>
        <h2 class="center">第七章 附 则</h2>
        <div class="content">
            <p>第三十一条 本规程由中总协代账分会秘书处负责解释。</p>
            <p> 第三十二条 本规程自通过之日起生效。</p>
        </div>
    </div>
</body>

</html>